<div id="error_explanation" class="alert alert-danger col-md-offset-2">
  <h2><%= pluralize(table.errors.count, "error") %> prohibited this form from being saved:</h2>

  <ul>
  <% table.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
