<h1 class="page-header">Terms</h1>

<div class="row">
  <div class="col-md-6">
<p>gCamp is not responsible for anything, unless it is positive.</p>
<p>You may not take us to court. For anything. Ever.</p>
  </div>
</div>
